{% extends 'accueil.html.twig' %}

{% block title %}Isishop - Contact
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Formulaire de commandes</h1>

		{{ form(form) }}
		</div>
	{% endblock %}
